<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.UserPackgeVipMapper">
    <resultMap id="BaseResultMap" type="com.app.model.UserPackgeVip">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_token" property="userToken" jdbcType="VARCHAR"/>
        <result column="packge_name" property="packgeName" jdbcType="VARCHAR"/>
        <result column="packge_pace" property="packgePace" jdbcType="VARCHAR"/>
        <result column="packge_price" property="packgePrice" jdbcType="VARCHAR"/>
        <result column="packge_url" property="packgeUrl" jdbcType="VARCHAR"/>
        <result column="packge_id" property="packgeId" jdbcType="VARCHAR"/>
        <result column="packge_orde" property="packgeOrde" jdbcType="VARCHAR"/>
        <result column="packge_expire" property="packgeExpire" jdbcType="VARCHAR"/>
        <result column="vip_status" property="vipStatus" jdbcType="VARCHAR"/>
        <result column="pay_pat" property="payPat" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.app.model.UserPackgeVip">
    insert into USER_PACKGE_VIP (USER_ID, USER_TOKEN, PACKGE_NAME, 
      PACKGE_PACE, PACKGE_PRICE,PACKGE_ID,VIP_STATUS,PACKGE_EXPIRE,PACKGE_URL)
    values (#{userId,jdbcType=VARCHAR}, #{userToken,jdbcType=VARCHAR}, #{packgeName,jdbcType=VARCHAR}, 
      #{packgePace,jdbcType=VARCHAR}, #{packgePrice,jdbcType=VARCHAR},#{packgeId,jdbcType=VARCHAR},#{vipStatus,jdbcType=VARCHAR}
      ,#{packgeExpire,jdbcType=VARCHAR},#{packgeUrl,jdbcType=VARCHAR})
  </insert>

    <select id="selectById" parameterType="com.app.model.UserPackgeVip" resultType="com.app.model.UserPackgeVip">
	select * from USER_PACKGE_VIP where USER_ID = #{userId,jdbcType=VARCHAR} 
	and    PACKGE_Id =  #{packgeId,jdbcType=VARCHAR}
</select>

    <resultMap type="com.app.model.UserPackgeVip" id="userPackgeMap" extends="BaseResultMap">
        <association property="packgeInfo" javaType="com.app.model.PackgeInfo">
            <result property="packgeId" column="packge_info_id"/>
            <result property="packgeType" column="packge_info_type"/>
            <result property="packgeCritme" column="packge_info_critme"/>
            <result property="packgeName" column="packge_info_name"/>
            <result property="packgeOrde" column="packge_info_orde"/>
            <result property="packgeTerm" column="packge_info_term"/>
            <result property="packgeStatus" column="packge_info_status"/>
            <result property="packgePrice" column="packge_info_price"/>
            <result property="packgePace" column="packge_info_pace"/>
            <result property="packgeUrl" column="packge_info_url"/>
        </association>
    </resultMap>
    <!-- 查询单个用户所有的包月专区-->
    <select id="queryAppList" parameterType="Map" resultMap="userPackgeMap">
        SELECT * FROM(SELECT
        USER_PACKGE_VIP.USER_ID,
        USER_PACKGE_VIP.USER_TOKEN,
        USER_PACKGE_VIP.PACKGE_NAME,
        USER_PACKGE_VIP.PACKGE_PACE,
        USER_PACKGE_VIP.PACKGE_PRICE,
        USER_PACKGE_VIP.PACKGE_URL,
        USER_PACKGE_VIP.PACKGE_ID,
        USER_PACKGE_VIP.PACKGE_ORDE,
        USER_PACKGE_VIP.PACKGE_EXPIRE,
        USER_PACKGE_VIP.VIP_STATUS,
        USER_PACKGE_VIP.PAY_PAT,
        PACKGE_INFO.PACKGE_ID packge_info_id,
        PACKGE_INFO.PACKGE_TYPE packge_info_type,
        PACKGE_INFO.PACKGE_CRITME packge_info_critme,
        PACKGE_INFO.PACKGE_URL packge_info_url,
        PACKGE_INFO.PACKGE_NAME packge_info_name,
        PACKGE_INFO.PACKGE_ORDE packge_info_orde,
        PACKGE_INFO.PACKGE_TERM packge_info_term,
        PACKGE_INFO.PACKGE_STATUS packge_info_status,
        PACKGE_INFO.PACKGE_PRICE packge_info_price,
        PACKGE_INFO.PACKGE_PACE packge_info_pace
        FROM
        USER_PACKGE_VIP
        JOIN PACKGE_INFO ON USER_PACKGE_VIP.PACKGE_ID = PACKGE_INFO.PACKGE_ID)a
        WHERE a.USER_ID = #{userId}  AND PACKGE_EXPIRE &gt;= to_char(sysdate,'yyyy-MM-dd hh24:mi:ss')
    </select>

    <update id="update" parameterType="com.app.model.UserPackgeVip">
        UPDATE USER_PACKGE_VIP
        <set>
            <if test="packgeName!=null and packgeName!=''">
                PACKGE_NAME = #{packgeName},
            </if>
            <if test="packgePace!=null and packgePace!=''">
                PACKGE_PACE = #{packgePace},
            </if>
            <if test="packgePrice!=null and packgePrice!=''">
                PACKGE_PRICE = #{packgePrice},
            </if>
            <if test="vipStatus!=null and vipStatus!=''">
                VIP_STATUS = #{vipStatus},
            </if>
            <if test="packgeUrl!=null and packgeUrl!=''">
                PACKGE_URL = #{packgeUrl},
            </if>
            <if test="packgeOrde!=null and packgeOrde!=''">
                PACKGE_ORDE = #{packgeOrde},
            </if>
            <if test="packgeExpire!=null and packgeExpire!=''">
                PACKGE_EXPIRE = #{packgeExpire},
            </if>

            <if test="payPat!=null and payPat!=''">
                PAY_PAT = #{payPat}
            </if>
        </set>

        WHERE USER_ID = #{userId}  AND PACKGE_ID = #{packgeId}

    </update>

    <select id="queryApp" parameterType="Map" resultType="com.app.model.UserPackgeVip">
        SELECT * from USER_PACKGE_VIP WHERE USER_ID=#{userId} AND PACKGE_ID = #{packgeId}

    </select>

    <select id="queryAppById" parameterType="Map" resultType="com.app.model.UserPackgeVip" >
        SELECT * from USER_PACKGE_VIP WHERE USER_ID=#{userId}
         AND PACKGE_ID = #{packgeId}
    </select>

    <!-- 分页查询 -->
    <select id="selectPageList" parameterType="Map" resultType="com.app.model.UserPackgeVip">
        select * from
        (select a.*, rownum rn from
        (select b.* from user_packge_vip b
        <where>
            <if test="userId != null"> b.user_Id like #{userId}  </if>
        </where>
      ) a
        where rownum &lt;= #{endRow}) c
        where c.rn &gt;= #{startRow}
    </select>

    <!-- 分页查询总条数 -->
    <select id="selectTotalRows" parameterType="Map" resultType="int">
        select count(*) from user_packge_vip
        <where>
            <if test="userId != null"> user_Id like #{userId}  </if>
        </where>
    </select>
</mapper>